@{
    ViewData["Title"] = "Edit";
}

@model LogicaNegocio.Venta

<h1 class="fs-4">Gracias por tu compra!</h1>
<form method="POST">
    <p class="mb-0">@Model.Id</p>
    <p class="mb-0">@Model.Nombre</p>
    <p class="mb-0">@Model.Precio() USD</p>
    
    <small class="d-block">Pago con Mastercard &middot;&middot;51</small>
</form>



