
@{
    ViewData["Title"] = "Create";
}

<form action="#" method="post">
    <header class="mb-3">
        <h1 class="fs-4">Registro</h1>
    </header>
    <section class="mb-3">
        <label class="form-label" for="register--nombre" name="nombre">Nombre</label>
        <input type="text" class="form-control" id="register--nombre" />
    </section>
    <section class="mb-3">
        <label class="form-label" for="register--apellido" name="apellido">Apellido</label>
        <input type="text" class="form-control" id="register--apellido" />
    </section>
    <section class="mb-3">
        <label class="form-label" for="register--email" name="email">Email</label>
        <input type="text" class="form-control" id="register--email" />
    </section>
    <section class="mb-3">
        <label class="form-label" for="register--password" name="password">Contraseña</label>
        <input type="text" class="form-control" id="register--password" />
    </section>
    <section class="mb-3">
        <label class="form-label" for="register--saldo" name="saldo">Saldo</label>
        <input type="number" class="form-control" id="register--saldo" />
    </section>
    <section class="mb-3">
        <p class="d-inline me-1">Ya tenés una cuenta?</p><a href="/Login/">Iniciá sesión haciendo click aqui</a>
    </section>
    <section class="mb-3">
        <button type="submit" class="btn btn-dark">Registrarte</button>
    </section>
</form>

