@{
    ViewData["Title"] = "Create";
}

<form action="#" method="post">
    <header class="mb-3">
        <h1 class="fs-4">Registro</h1>
    </header>
    <section class="mb-3">
        <label class="form-label" for="register--nombre">Nombre</label>
        <input type="text" class="form-control" id="register--nombre" name="nombre" />
    </section>
    <section class="mb-3">
        <label class="form-label" for="register--apellido">Apellido</label>
        <input type="text" class="form-control" id="register--apellido" name="apellido" />
    </section>
    <section class="mb-3">
        <label class="form-label" for="register--email">Email</label>
        <input type="email" class="form-control" id="register--email" name="email" />
    </section>
    <section class="mb-3">
        <label class="form-label" for="register--password">Contraseña</label>
        <input type="password" class="form-control" id="register--password" name="password" />
    </section>
    <section class="mb-3">
        <label class="form-label" for="register--saldo">Saldo</label>
        <input type="number" class="form-control" id="register--saldo" name="saldo" />
    </section>
    <section class="mb-3">
        <p class="d-inline me-1">Ya tenés una cuenta?</p><a href="/Home/Login/">Iniciá sesión haciendo click aqui</a>
    </section>
    <section class="mb-3">
        <button type="submit" class="btn btn-dark">Registrarte</button>
    </section>
</form>
@if(@ViewBag.Mensaje != null){
    <div class="alert alert-danger">
        @ViewBag.Mensaje
    </div>
}
else if (ViewBag.Exito != null)
{
    <div class="alert alert-success">
        @ViewBag.Exito
    </div>
}


