@model LogicaNegocio.Usuario
@{
    ViewData["Title"] = "Index";
}

<section>
    <h1 class="fs-4">Iniciaste sesión como:</h1>
    <section class="d-flex align-items-center">
        <img src="~/placeholder.webp" class="me-3" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;" />
        <div>
            <p class="mb-0"><strong>Nombre completo:</strong> @Model.Nombre @Model.Apellido</p>
            <p class="mb-0"><strong>Email:</strong> @Model.Email</p>
            <p class="mb-2"><strong>ID:</strong> @Model.Id</p>
            <small>Utilizá las navegaciones en el header para navegar por el sitio</small>
        </div>
    </section>
</section>