@model List<LogicaNegocio.Venta>
@{
    ViewData["Title"] = "Index";
}

<h1>Publicaciones</h1>
@if (Model != null & Model.Count > 0)
{
    <table class="table">
        <thead>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Precio</th>
            <th>Acción</th>
        </thead>
        <tbody>
        @foreach (LogicaNegocio.Venta venta in Model)
        {
            <tr>
                <td>@venta.Nombre</td>
                <td>@venta.Estado</td>
                <td>@venta.Precio() USD</td>
                <td><a href="/Venta/Edit?id=@venta.Id">Comprar</a></td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No hay publicaciones en el sistema</p>
}
