@{
    ViewData["Title"] = "Register";
}

<form action="#" method="post">
    <header class="mb-3">
        <h1 class="fs-4">Registro</h1>
    </header>
    <section class="mb-3">
        <label class="form-label" id="register--nombre">Nombre</label>
        <input type="text" class="form-control" for="register--nombre"/>
    </section>
    <section class="mb-3">
        <label class="form-label" id="register--apellido">Apellido</label>
        <input type="text" class="form-control" for="register--apellido"/>
    </section>
    <section class="mb-3">
        <label class="form-label" id="register--email">Email</label>
        <input type="text" class="form-control" for="register--email"/>
    </section>
    <section class="mb-3">
        <label class="form-label" id="register--password">Contraseña</label>
        <input type="password" class="form-control" for="register--password"/>
    </section>
    <section class="mb-3">
        <p class="d-inline me-1">Ya tenés una cuenta?</p><a href="/Login/">Iniciá sesión haciendo click acá</a>
    </section>
    <section class="mb-3">
        <button type="submit" class="btn btn-dark">Registrarte</button>
    </section>
</form>